<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='main.css')}}">
    <script src="{{ url_for('static', filename='/jquery-3.6.0.js')}}"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.js')}}"></script>
    <title>Home</title>
</head>
<body>
{% include 'addCameraModal.html' %}
{% include 'settings.html' %}
<div class="container-fluid p-0 d-flex h-100 flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CCT Monitor Software</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item ">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#addCameraModalCenter">Add Camera </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#settingsModalCenter">Settings </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row  flex-fill d-flex mw-100 p-0 m-0  ">
        <div class="col-sm-2 text-light bg-dark p-0 " align="center">
            <div class="row p-0 m-0">
                <div class="col p-0">
                    <hr class="bg-light text-light m-0 position-relative fixed-top ">
                    <br>
                    <h5 class="mr-20">CCTV Cameras</h5>
                    <hr class="bg-light text-light w-75">
                    <ui class="list-group">
                        {% for cam in cameras %}

                        <li class="list-group-item bg-dark text-light ">
                            <div class="d-flex justify-content-around align-items-center">
                                <p class="p-2">
                                    {{cam.doc_id}}
                                </p>
                                <p class="p-2">
                                    {{cam.ip}}
                                </p>
                                <a href="{{ url_for('deleteCamera', id=cam.doc_id) }}" class="text-light mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                    </svg>
                                </a>
                            </div>
                        </li>


                        {% endfor %}
                    </ui>
                </div>

            </div>

        </div>
        <div class="col-sm bg-secondary p-0 w-100 ">

            <div class="row justify-content-center h-100 m-0 mw-100">
                {% for cam in cameras %}
                <div class="col-xl-6 mr-auto p-0">
                    <img src="{{ url_for('video_feed', id=cam.doc_id) }}" class="h-100 w-100">
                </div>
                {% endfor %}

            </div>


        </div>
    </div>
</div>
</body>
</html>