<!-- Modal -->

<div class="modal fade" id="settingsModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Software Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="updateSettings" method="post" class="p-2">
                    <div class="form-group">
                        <label for="filePath">CCT Software Storage Path : </label>
                        <input name="filePath" type="text" class="form-control" id="filePath" value="{{settings.filePath}}"
                               placeholder="C:\CCTV Storage">
                        <small id="emailHelp" class="form-text text-muted">Copy and paste your directory path here,
                            Steps
                        </small>
                        <small>
                            <uil style="list-style-type: none; padding-left:20px" class="form-text text-muted">
                                <li>1. Open File Browser</li>
                                <li>2. Navigate into your storage directory</li>
                                <li>3. Copy the URL path in top of the window</li>
                                <li>4. Paste copied path in the text field</li>
                            </uil>
                        </small>
                        <br>
                        <div class="custom-control custom-switch">
                            <input  class="custom-control-input" id="isRecording" name="isRecording"
                                   type="checkbox" value="{{settings.isRecording}}">
                            <label class="custom-control-label form-text text-muted" for="isRecording">Toggle to start
                                recording !</label>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
         var isRecording = $('#isRecording').val();
         if(isRecording == 'True'){
            console.log("in if ", isRecording);
            $( "#isRecording" ).prop( "checked", true );
         }
        console.log(isRecording);
</script>

